{% load static %}
<html lang="ja">
<head>
  <meta charset="utf-8">
    <title>Log out</title>
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700">
    <link rel="stylesheet" href="{% static 'admin_css/login.css' %}">

</head>
<body>
    <div class="form-wrapper">
        <h1>ログアウト完了</h1>
        <p>正常にログアウトしました。ご利用ありがとうございました。</p>
            <form action="{% url 'login' %}" name="login">
                <div class="button-panel">
                    <input type="submit" class="button" title="Login In" value="ログインページへ"></input>
                </div>
            </form>
            <div class="form-footer">
            </div>
    </div>
</body>